*{
    margin : 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    color: #fff;
    background: linear-gradient(5deg, #70e1f5, #ffd194);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.input-box > label{
    display: none;
}
.input-box > input {
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
}

.all-button{
    display: flex;
    justify-content: flex-end;
    
}

.all-clear {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 3rem;
    background-color: #377665;
    color: #eee;
}

.all-delete{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 3rem;
    background-color: salmon;
    color: #eee;
}

.todo-list li {
    border-bottom: 1px solid #eee;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.todo-like{
    flex: 1;
}
.todo-item{
    flex: 8;
}
.done .todo-item{
    text-decoration: line-through;
    color: #ccc;
}

.done .check{
    visibility: hidden;
}

.todo-manage{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.like {
    cursor: pointer;
    font-size: 18px !important;
    color: salmon;
}
.check {
    color : #377665
}
.clear {
    color: salmon;
}