h1 {
    color: red;
}

.ulone {
    border: 1px solid orange;
    li {
        color: #333;
    }
}

.ultwo {
    li {
        color: green;

        a{
            color: red;
        }
    }

    
}


